<div>
  <app-navbar></app-navbar>
</div>
<div class="header" fxLayout="column" fxLayoutAlign="center center">
  <app-header></app-header> 
</div>
<div>
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{article.image}}" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder"> {{article.titre}}</h1>
                <div >                  
                    <ul *ngFor="let aut of auteurs">
                       {{ aut.nom }}  {{ aut.prenom }}  
                    </ul>
                </div>
                <div class="fs-5 mb-5">  <span> {{article.prixUnitaire}} €</span> </div>
                <p class="lead">{{article.resume}}</p>
                <div class="d-flex">
                    <form [formGroup]="addCartForm" (ngSubmit)="onSubmitForm()">    
                      <div>
                        <input class="form-control text-center me-3" id="quantiteCommande" type="number"  min="0"  max={{article.quantiteEnStock}} style="max-width: 3rem" formControlName="quantiteCommande" />
                       <div>
                        {{article.quantiteEnStock}} en stock
                       </div>
                      </div>            
                      <br>
                    <div>
                      <button class="btn btn-primary" type="submit">
                        ajouter au panier
                      </button>
                                      
                     </div> 
                     
                  </form>  
          
                </div>
                <br>
               <div>
                <a routerLink="/home" class="btn btn-primary"><i class="fa fa-angle-left"></i> Continuer Achat</a><br>      
               </div>
               
            </div>
         
        </div>
    </div>
  </section>
</div>
  
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  <app-footer></app-footer>
</div>

    