
.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }   

.form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
  }
 