<div>
  <app-navbar></app-navbar>
</div>
<div class="header" fxLayout="column" fxLayoutAlign="center center">
  <app-header></app-header> 
</div>
<div class="col-md-6" *ngIf="mode==0">
  <form #f="ngForm" (ngSubmit)="onSaveClient(f.value)">
    <div class="form-group">
      <label class="control-label">Nom:</label>
      <input type="text" name="nom" ngModel class="form-control" [(ngModel)]="client.nom" >
    </div>
    <div class="form-group">
      <label class="control-label">Prenom:</label>
      <input type="text" name="prenom" class="form-control" [(ngModel)]="client.prenom" >
    </div>

      <div class="form-group">
        <label class="control-label">N° Telephone:</label>
        <input type="text" name="telephone" ngModel class="form-control" [(ngModel)]="client.telephone" >
      </div>
      <div class="form-group">
        <label class="control-label">Email:</label>
        <input type="text" name="email" ngModel class="form-control" [(ngModel)]="client.email" >
      </div>  
      <div formArrayName="adresses" >  
        <div formGroupName="0">
          <br>
         <label for="adresse">Saisir votre Adresse !</label>      
         <div>
             <label for="rue">Rue</label>
             <input type="text"  formControlName="rue" class="form-control">       
         </div>    
         <div >
             <label for="ville">Ville</label>
             <input type="text"  formControlName="ville" class="form-control" >            
         </div> 
         <div >
             <label for="codePostale">Code Postale</label>
             <input type="text"  formControlName="codePostale" class="form-control">          
         </div> 
     </div> 
    </div> 
    <button type="submit" class="btn btn-primary">Next</button>
  </form>
</div>
 <div class="panel {{panelStyle}}" *ngIf="mode==1">
  <div class="panel-heading">Récap de votre commande</div>
  <br>
  <div class="panel-body">
    <div class="col-md-5">
      <div class="form-group">
        <label>Nom du Client :</label>
        <label>{{commandeService.commande?.client?.nom}}</label>
      </div>
       <div class="form-group">
        <label>Prenom du Client :</label>
        <label>{{commandeService.commande?.client?.prenom}}</label>
      </div>

    
   <!-- <div class="form-group">
        <label>Adresse Client</label>
       <br> 
        <label>Rue :</label>
        <label>{{commandeService.commande?.client?.adresses?.rue}}</label>
      </div>
      <div class="form-group">
        <label>Ville :</label>
        <label>{{commandeService.commande?.client?.adresses?.ville}}</label>
      </div>
      <div class="form-group">
        <label>Code Postale :</label>
        <label>{{commandeService.commande?.client?.adresses?.codePostale}}</label>
      </div> 
      <div class="form-group">
        <label>Tél Client :</label>
        <label>{{commandeService.commande?.client?.telephone}}</label>
      </div>
      <div class="form-group">
        <label>Email :</label>
        <label>{{commandeService.commande?.client?.email}}</label>
      </div>      
    </div> -->
 <div class="col-md-5">
      <div class="form-group">
        <label>Order ID :</label>
        <label>{{commandeService.commande.id}}</label>
      </div>
      <div class="form-group">
        <label>Order Date :</label>
        <label>{{commandeService.commande.dateCommande}}</label>
      </div>
    </div> 
  </div> 
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Désignation</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th>Montant</th>
      </tr>
      <!-- <tr *ngIf="checkout == null">
        <td colspan="5" class="text-center"><h4>Your checkout is empty</h4></td>
      </tr> -->
      <tr *ngFor="let chkdata of commandeService.commande.ligneCommandes; let i = index">    
        <td>{{chkdata.id}}</td> 
        <td>{{chkdata.article?.titre}}</td>   
        <td>
          <div class="row">
            <div class="col-6">
              <input type="number"  min="0"  max={{chkdata.article?.titre}} class=" mx-3 quantity_input" value = "{{chkdata?.quantiteCommande}}"  name="input{{chkdata?.article?.id}}" (change)=" updateQuantity(chkdata?.article?.id!,$event)"> 
            </div>       
          </div> 
       </td>
        <td>{{chkdata.prixUnitaire|number:'0.2'}}</td>
        <td>
          {{(chkdata?.quantiteCommande ?? 0) * 100 * (chkdata?.prixUnitaire ?? 0)/100 | currency:'EUR':true:'1.2-2'}}
        </td>
      </tr>
      <tr>
        <td colspan="1">Total TTC :</td>
        <td> {{commandeService.getTotalOrder()|number:'0.2'}} </td>
      </tr>
    </table>
    <button class="btn btn-success" (click)="commander()" *ngIf="!commandeService.commande.id">Confirmer</button>   
    <button class="btn btn-success" (click)="payer()" *ngIf="commandeService.commande.id">Payer</button> 
 </div>
</div>

<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  <app-footer></app-footer>
</div>




