<mat-toolbar>  
    <button mat-icon-button aria-label="Home button" routerLink="/home">
      <mat-icon>home</mat-icon>    
    </button>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Books button" routerLink="/articles">        
        <mat-icon>library_books</mat-icon>     
    </button> 
    <span class="spacer"></span> 
    <button mat-icon-button aria-label="Login button" routerLink="/login">        
        <mat-icon>account_circle</mat-icon>
    </button>   
    <span class="spacer"></span> 
    <button  mat-icon-button aria-label="Cart button" routerLink="/panier">    
        <mat-icon>shopping_cart</mat-icon>      
    </button>
    <span class="spacer"></span> 
    <button  mat-icon-button aria-label="Logout button" *ngIf="authService.isUserLoggedIn()" routerLink="/logout">        
        <mat-icon> exit_to_app </mat-icon>
    </button>
  </mat-toolbar>
