<mat-toolbar>
    <button mat-icon-button aria-label="Home button" routerLink="/home">
      <mat-icon>home</mat-icon>    
    </button>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Books button" routerLink="/articles">        
        <mat-icon>library_books</mat-icon>     
    </button> 
    <span class="spacer"></span> 
    <button mat-icon-button aria-label="Login button" routerLink="/login">        
        <mat-icon>account_circle</mat-icon>
    </button>  
    <span class="spacer"></span> 
    <button  mat-icon-button aria-label="Checkout button" routerLink="/panier">    
        <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
