.spacer {
  flex: 1 1 auto;
}
a.cart .cart-basket {
  font-size: .6rem;
  position: absolute;
  top: -6px;
  right: -5px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #418DEB;
  border-radius: 50%;
}
a.cart:hover {
  text-decoration: none;
  color: #D60E96;
}
a {
  font-size: 1.1rem;
  color: #343A40;
}