<div>
  <app-navbar></app-navbar>
</div>
<div class="header" fxLayout="column" fxLayoutAlign="center center">
  <app-header></app-header> 
</div>
<div class="container">
  <br>
  <a routerLink="/home" class="btn btn-primary"><i class="fa fa-angle-left"></i> Continuer Achat</a><br>
  <table id="cart" class="table table-hover table-condensed table-borderless">
    <thead>
      <tr>
        <th>Article</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Montant</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let ligne of panier;index as i">
      <td>
        {{ligne?.article?.titre}}
      </td>
    
      <td>{{ligne?.article?.prixUnitaire | currency:'EUR':true:'1.2-2'}}</td>
      <td>
        <div class="row">
          <div class="col-8">
            <input type="number" min="0"  max={{ligne?.article?.quantiteEnStock}} class=" mx-3 quantity_input" value = "{{ligne?.quantiteCommande}}"  name="input{{ligne?.article?.id}}" (change)=" updateQuantity(ligne?.article?.id!,$event)"> 
           
            {{ligne?.article?.quantiteEnStock}} en stock
           
          </div>       
        </div> 
     </td>
      <td>
        {{  (ligne?.quantiteCommande ?? 0) * 100 * (ligne?.article?.prixUnitaire ?? 0)/100 | currency:'EUR':true:'1.2-2'}}
      </td>
      <td> 
        <a class="btn btn-sm btn-danger text-white ml-1" (click)="deleteItemStorage(i)">
          <i class="fa fa-trash"></i>
        </a> 
      </td> 
    </tr>
  </table> 

  <div class="row">    
    <div class="col-9">Total TTC : {{total | number: '1.2-2'}} </div>

    <div class="offset-1 col-2"><button type="button" class="btn btn-primary align-right" (click)="valider()">Valider <i
          class="fa fa-angle-right"></i></button></div>
    </div> 

</div>
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  <app-footer></app-footer>
</div>