<div class="container">
  <br>
  <a routerLink="/home" class="btn btn-primary"><i class="fa fa-angle-left"></i> Continue Shopping</a><br>
  <table id="cart" class="table table-hover table-condensed table-borderless">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let cartLine of cart;index as i">
      <td>
        {{cartLine?.article?.titre}}
      </td>
    
      <td>{{cartLine?.article?.prixUnitaire | currency:'EUR'}}</td>
      <td>
        <div class="row">
          <div class="col-6">
            <input type="number" class=" mx-3 quantity_input" value = "{{cartLine?.qty}}"  name="input{{cartLine?.article?.id}}" (change)="updateAmount(cartLine?.article?.id!,$event)"> 
          </div>       
        </div> 
     </td>
      <td>
        {{  (cartLine?.qty ?? 0) * 100 * (cartLine?.article?.prixUnitaire ?? 0)/100 }}

      </td>
      <td> 
        <a class="btn btn-sm btn-danger text-white ml-1" (click)="deleteItemStorage(i)">
          <i class="fa fa-trash"></i>
        </a> 
      </td> 
    </tr>
  </table> 

  <div class="row">
    
    <div class="col-9">Total Sum : "{{total}}"</div>

    <div class="offset-1 col-2"><button type="button" class="btn btn-primary align-right" >Checkout <i
          class="fa fa-angle-right"></i></button></div>

  </div> 

</div>
